# Auto detect text files and perform LF normalization
* text=auto
*.R linguist-detectable=false

# Binary files
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.gmt  linguist-detectable=false
*.grp  linguist-detectable=false
